UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          512
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          true
UXTerm*rightScrollBar:     true
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false
UXTerm*faceName: Inconsolata LGC
UXTerm*faceSize: 13




*background: #0d1926
*foreground: #d9e6f2

*color0: #000000
*color1: #b87a7a
*color2: #7ab87a
*color3: #b8b87a
*color4: #7a7ab8
*color5: #b87ab8
*color6: #7ab8b8
*color7: #d8d8d8
*color8: #262626
*color9: #dbbdbd
*color10: #bddbbd
*color11: #dbdbbd
*color12: #bdbddb
*color13: #dbbddb
*color14: #bddbdb
*color15: #ffffff




